body {
  text-align: center;
  background-color: #011f3f;
}

footer {
  color: #fef2bf;
  font-size: 1rem;
  font-family: "Press Start 2P", cursive;
  padding: 5rem 0;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

#content-mobile {
  display: none;
  padding-top: 5%;
}

.container {
  display: block;
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media screen and (max-width: 600px) {
  #content-mobile {
    display: block;
  }
}

.start-button {
  text-align: center;
  display: inline-block;
  width: 50%;
  font-size: 3rem;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
}

.start-button:hover {
  background-color: lightgray;
  opacity: 90%;
  color: gray;
  cursor: pointer;
}
